*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}


ul,
ol {
    list-style: none;
    padding: 0;
}


html:focus-within {
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

/* text styles */

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
}
h1,
h2,
h3 {
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 2;
}

.text-violet-accent {
    color:hsl(277, 64%, 61%);
}


img,
picture {
    max-width: 100%;
    display: block;
}



.card {
    background-color:hsl(244, 38%, 16%);
    border-radius: 10px;
    max-width: 400px;
    margin-inline: 8%;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.container > * {
    text-align: center;
}


.image-container {
    background-color: hsl(277, 64%, 61%);
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.card__image {
    mix-blend-mode: multiply;
    opacity: 0.8;
    
}


.contents-container {
    padding: 7%;
}

.contents-container > * {
    margin-top: 1.5rem;
}

.stats-container {
    margin-top: 2rem;
}

.stats {
    list-style: none;
}


.stats h3 {
    text-transform: uppercase;
}

.stats p {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 2px;
    font-size: 0.75rem;
}




/* Media Queries */

@media (min-width: 1440px) {

.container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'content image';
    }

.card {
    max-width: 1440px;
}

.image-container {
    grid-area: image;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
}



.container>* {
    text-align: left;
}


.contents-container {
    max-width: 450px;
    grid-area: content;
    align-self: center;
    justify-self: center;
    padding: 3% 3%;        

}


.stats-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
}